.Excel{
    margin: 4vh 4vw;
}
.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    flex-direction: column;
}
.Btns{
    float: right;
    display: flex;
    gap: 1vw;
    margin-top: 3vh;
}
.manualBtn{
    width: 10vw;
    height: 5.5vh;
    background-color: rgba(82, 82, 82, 0.13);
    border: none;
    border-radius: 10px;
}
.uploadBtn{
    width: 10vw;
    height: 5.5vh;
    background-color: #319795;
    border: none;
    color: white;
    border-radius: 10px;
}